/* Footer styles */
.footer {
    background-color: #282c34;
    color: #fff;
    padding: 10px 0; /* Reduced padding for a thinner footer */
    border-top: 1px solid #444;
    text-align: center;
    height: 40px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
  }
  
  .footer-text {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-contact {
    display: flex;
    align-items: center;
  }
  
  .contact-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }
  
  .whatsapp-icon {
    color: #25D366; /* WhatsApp green */
    font-size: 16px;
    margin-right: 5px;
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: #007bff; /* Customize this color as needed */
  }
  